.input-card input {
    display: block;
    margin: 2em auto;
    border: none;
    padding: 0;
    width: 12ch;
    background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 11.5ch 2px no-repeat;
    font: 5ch droid sans mono, consolas, monospace;
    letter-spacing: 0.5ch;
}

.input-card input:focus {
    outline: none;
    color: deepskyblue;
}

.populate-random-card {
    margin: 0 auto;
    position: relative;
    padding: 5px;
}

.populate-random-card input {
    text-align: center;
    /* border: hidden; */
    padding: 10px;
    margin: 10px;
    width: 75px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-color: lightgray;
}

:root {
    font-size: 20px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0;
}

p:not(:last-child) {
    margin-bottom: 1.5em;
}

.input-card {
    padding: 20px;
    text-align: center;
    margin: 10px;
}

button {
    border-radius: 25pc;
    background-color: cadetblue;
    color: white;
    padding: 15px 40px 15px 40px;
    border: none;
}

button:hover {
    background-color: darkgreen;
}

button:active {
    background-color: darkolivegreen;
}

.glass-card {
    text-align: center;
    justify-content: space-between;
    height: fit-content;
    margin: 30px 10px 30px 10px;
    max-height: 600px;
    max-width: max-content;
    min-width: fit-content;
    overflow: hidden;
    overflow-y: auto;
    padding: 35px;

    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(15px);
}

.bet-card-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    margin: 10px;
    max-height: 600px;
    max-width: max-content;
    min-width: fit-content;
    overflow: hidden;
    overflow-y: auto;
    padding: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.bet-card {
    max-width: fit-content;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    font: 3ch droid sans mono, consolas, monospace;
    letter-spacing: 0.1ch;
}

.bet-card-draw button {
    width: 100%;
}