.draw-card {
    margin: 5px;
    padding: 10px;
    max-width: 90%;
    text-align: center;
}

.draw-card h1,h2,h3 {
    max-width: 100%;
    font-family: droid sans mono, consolas, monospace;
    letter-spacing: 0.5ch;
}

.draw-card h1 {
    font-size: 50px;
}

.draw-card h2 {
    font-size: 40px;
}

.draw-card h3 {
    font-size: 30px;
}