.reset {
    position: fixed;
    top: 10%;
    left: 30px;
}

#reset-competition {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}

#reset-competition:hover {
    background-color: royalblue;
}

#reset-competition:active {
    background-color: black;
    transform: rotate(90deg);
}