<div id="winner-absolute" class="card" *ngIf="winnerItem.winnerAbsoluteList != null">
    <p>Congrats!!!</p>
</div>

<div id="winner-almost" class="card" *ngIf="winnerItem.winnerAlmostList != null">
    <p>Congrats!!!</p>
</div>

<div id="first-runner-up-absolute" class="card" *ngIf="winnerItem.firstRunnerUpAbsoluteList != null">
    <p>Congrats!!!</p>
</div>

<div id="first-runner-up-almost" class="card" *ngIf="winnerItem.firstRunnerUpAlmostList != null">
    <p>Congrats!!!</p>
</div>

<div id="second-runner-up-absolute" class="card" *ngIf="winnerItem.secondRunnerUpAbsoluteList != null">
    <p>Congrats!!!</p>
</div>

<div id="second-runner-up-almost" class="card" *ngIf="winnerItem.secondRunnerUpAlmostList != null">
    <p>Congrats!!!</p>
</div>